
  <div class="allin">

    <%= render_layout "header" %>

    <main class="mainContainer">
      <article class="topSuggest">
        <div class="widthFit">
          <section class="mainMessage">
            <h1 class="dn">Coder's Highは</h1>
            <img class="img" src="/img/img_suggestMain.png" alt="学んで作って楽しんで…アイディアをカタチにする。">
            <img class="bg" src="/img/bg_suggestMain.png" alt="">
          </section>
          <section class="newSeminar">
            <div id="jsiNewSeminar" class="newSeminarWrap">
              <ol class="newSeminarControl list-unstyled">
              </ol>
              <ul class="newSeminarList seminarCassette list-unstyled">

                <% @events.each_with_index do |event, i| %>
                    <% if event["remaining"] >= 0 %>
                      <li class="seminarItem<% if i == 0 %> on<% end %>">
                        <p class="seminarLimit">開催まであと<%= event["remaining"] %>日</p>
                        <a href="#" class="seminarLink" title="<%= event["name"] %>">
                          <div class="seminarImgWrap">
                              <%= image_tag(event["cover"]["source"], :class => "seminarImg") %>
                          </div>
                          <div class="seminarItemInner">
                            <h2 class="seminarHead" title="<%= event["name"] %>" data-shortTitle="<%= event["name"] %>"><%= event["name"] %></h2>
                            <dl class="seminarDetail">
                              <dt class="date"><i class="fa fa-calendar"></i><span class="sr-only">日付</span></dt>
                              <dd class="dateDetail"><%= event["datetime"] %></dd>
                              <dt class="place"><i class="fa fa-map-marker"></i></i><span class="sr-only">場所</span></dt>
                              <dd class="placeDetail"><%= event["place"]["name"] %></dd>
                            </dl>
                            <%= link_to "イベントの詳細を見る", event_path(event["id"]), :class => "seminarBtn" %>
                          </div>
                        </a>
                      </li>
                    <% end %>
                <% end %>

              </ul>
            </div>
          </section>
        </div>
      </article>
      <article class="topConcept">
        <div class="widthFit">
          <p class="comment">
            「Coder’s High;」は、プログラミング学習を活動のメインとする社会人サークルです。<br>
            HTML5やCSS3、JavaScript、jQuery、ruby on rails、PHP、MySQL、WordPress、Javaなどを中心に、月に1回から2回程度の勉強会を開催しています。
          </p>
        </div>
      </article>
      <article class="topContent">
        <div class="widthFit">
          <section id="jsiNowSeminar" class="nowSeminar">
            <h1 class="nowSeminarHead">イベント一覧</h1>
            <ul class="nowSeminarList seminarCassette list-unstyled" id="jsEventItems">

              <% @events.each do |event| %>
                <li class="seminarItem on">
                  <% if event["remaining"] > 0 %>
                    <p class="seminarLimit">開催まであと<%= event["remaining"] %>日</p>
                  <% elsif event["remaining"] == 0 %>
                      <p class="seminarLimit">本日開催</p>
                  <% else %>
                      <p class="seminarLimit">開催済み</p>
                  <% end %>
                  <%= link_to(event_path(event["id"]), :class => 'seminarLink') do %>
                    <div class="seminarImgWrap">
                        <%= image_tag(event["cover"]["source"], :class => "seminarImg") %>
                      <% if event["remaining"] < 0 %>
                          <p class="seminarStatus">開催済み</p>
                        <% end %>
                    </div>
                    <div class="seminarItemInner">
                      <h2 class="seminarHead" title="<%= event["name"] %>" data-shortTitle="<%= event["name"] %>"><%= event["name"] %></h2>
                      <dl class="seminarDetail">
                        <dt class="date"><i class="fa fa-calendar"></i><span class="sr-only">日付</span></dt>
                        <dd class="dateDetail"><%= event["datetime"] %></dd>
                        <dt class="charge"><i class="fa fa-rmb"></i></i><span class="sr-only">参加料</span></dt>
                        <dd class="chargeDetail">無料</dd>
                        <dt class="place"><i class="fa fa-map-marker"></i></i><span class="sr-only">場所</span></dt>
                        <dd class="placeDetail"><%= event["place"]["name"] %></dd>
                      </dl>
                    </div>
                  <% end %>
                </li>
              <% end %>

            </ul>
            <button class="nowSeminarMore">
              開催予定のイベント一覧をさらに表示<br>
              <span class="glyphicon glyphicon glyphicon-chevron-down"></span>
            </button>
            <nav class="mySeminarPager dn">
              <ul class="pagination">
                <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&lt;</span></a></li>
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#" aria-label="Next"><span aria-hidden="true">&gt;</span></a></li>
              </ul>
            </nav>
          </section>
        </div>
      </article>
    </main>
  </div><!-- /.allin -->

<%= render_layout "footer" %>