<% @page_name = @event["name"] %>

<div class="allin">

  <%= render_layout "header" %>

  <main class="mainContainer">
    <article class="topDetail">
      <div class="widthFit">
        <section class="mainVisual">
          <%= image_tag(@event["cover"]["source"]) %>
        </section>
      </div>
    </article>
    <article class="topContents">
      <div class="widthFit">

        <% if @event["remaining"] <= 0 %>
          <div class="detailNotices">
            <p class="notice noticeNormal"><i class="fa fa-exclamation-triangle"></i> このイベントは終了しました。</p>
          </div>
        <% end %>

        <section class="mainDetail">
          <h1 class="head" title="HTMLとCSSとJavascriptを一生懸命学んで身に着けよう！"><%= @event["name"] %></h1>
          <div class="mainDetailInner">
            <dl class="mainDetailList">
              <dt>開催日</dt>
              <dd><%= @event["datetime"] %></dd>
              <dt>開催場所</dt>
              <dd><%= @event["place"]["name"] %></dd>
            </dl>

            <ul class="mainDetailBtns">
            <% if @event["remaining"] > 0 %>
              <% if false %>
                <li><%= link_to("このイベントに参加する", @event["participate"], class: "mainDetailBtn") %></li>
              <% end %>
              <li><%= link_to("Facebookページ", @event["url"], class: "mainDetailBtn") %></li>
            <% end %>
            </ul>
          </div>
        </section>

        <div class="contentDetail">
          <section class="seminarInfo">
            <div class="seminarInfoInner">
              <h1 class="head"><i class="fa fa-file-text-o"></i> イベント詳細</h1>
              <div class="body">
                <% @event["description"].each_line do |line| %>
                    <%= simple_format(convert_links(line)) %>
                <% end %>
              </div>
            </div>
          </section>
          <section class="seminarSide">
            <dl id="jsiEventMap" class="mapWrap" data-maphref="http://maji.asia/codershigh/index.html">
              <dt class="mapDetail"><%= @event["place"]["name"] %></dt>
              <dd class="mapFigure">
                <figure id="mapFigure"></figure>
              </dd>
            </dl>
          </section>
        </div>

      </div>
    </article>
  </main>

</div><!-- /.allin -->

<%= render_layout "footer" %>